*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

.active a {
  color: #840f1b; /* Pas de kleur aan naar wens */
}

.linkHover {
  position: relative;
}

.linkHover::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #840f1b;
  bottom: -1px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.linkHover:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.contactForm a {
  color: #840f1b;
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
